.profil-container {
  // background: hotpink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profil-follower {
  display: flex;
  flex-direction: row;
  gap: 15px;
  .header-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
