<% content_for :meta_title, "Followers of #{@user.full_name} on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Experience the ultimate party scene at PartyTime's clubs. Come join the party at PartyTime!" %>
<% content_for :meta_image, asset_url('/assets/logo.png') %>

<h1><%= @user.nickname %> Followers</h1>

<h3><%@followers.each do |f| %></h3>
  <ul>
  <li><p><%=link_to f.nickname, user_path(f.id) %></p></li>
  </ul>
<% end %>
