<div data-popover-target="card">
  <div class="card" style="width:18rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <div class="card-title"> <h5> This is busy queue </h5>
          <p>this explain the busy card.</p>
        </div>
      </div>
    </div>
  </div>
</div>
