.event-head {
  // background: blue;
  // display: flex;
  // flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // padding: 48px 32px 16px;
  position: absolute;
  left: 10%;
  right: 10%;
}

.event-title {
  // background: greenyellow;
}

.event-facts{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.event-keyfact {
  border: 1px solid #4E4E4E;
  border-radius: 16px;
  padding: 0 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.event-main-facts h5 {
  padding-top: 10px;
}
.event-main-facts p {
  padding-bottom: 15px;
}
