.message-left {
  // display: flex;
  // flex-direction: column;
  max-width: 75%;
  margin-bottom: 10px;
  padding: 0px;
  border-radius: 10px;
  font-size: 16px;
  align-self: flex-start;
  background-color: #999999;

}

.message-right {
  // display: flex;
  // flex-direction: column;
  max-width: 75%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  align-self: flex-end;
  color: black;
  background: #A097CC;

}

// .messages {
//   width: 100%;
//   display: flex;
//   flex-flow: column;

// }

.message {
  width: 100%;
  display: flex;
  flex-flow: column;
}
